/*-- GLOBAL CSS --*/
html, body {
	margin: 0;
	padding: 0;
	font-family: Arial,Verdana;
	font-size:11px;
	width:100%;
	overflow:hidden;
    text-align:center;
   -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
   -webkit-touch-callout: none;
   -webkit-user-select  : none;
   -khtml-user-select: none;
   -moz-user-select: -moz-none;
   -ms-user-select: none;
   user-select: none;
}
body
{
    overflow-x:hidden;
    
}

select{
	border: 1px solid #999;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.bold{
	font-weight:bold;
}

.blueline
{
    min-height:6px;
    width:100%;
    background-color:#00c3ff;
}
.pages
{
    background-color:#f2f2f2;
}
    .pages homepage
    {
    }
    .pages profilepage
    {
    }

#container
{
    border-bottom: 2px solid #fff;
    float:left;
    width:100%;

}  
#container h3
    {
        color:#000;
        font-weight:bold;
    }
#container .blue_h1    {

        font-size:24px;
        font-weight:bold;
        color:#00c3ff;

}
#container_left
{
    float:left; width:140px;

}
#container_right
{
    float:left; width:140px;

}

#userprofile_icon
{
    float:left; width:60px;
    background-image:url("/css/icons/top_left_side_bar_btn.png");
    background-repeat:no-repeat;
    min-height:80px;
    min-width:80px;
}
#btn_showMenu
{
    position:absolute;
    float:right;
    background-image:url("/css/icons/top_left_side_bar_btn.png");
    height:60px;
    background-repeat:no-repeat;
    width:30px;
    cursor:hand;    
}
#mnu_prompt
{
    position:absolute;
    float:right;
    right:20px;
}
#mnu_main
{
    position:absolute;
    top:40px;
    left:0px;
    z-index:10000;
    border:1pt solid #ccc;
        
}

#mnu_main li
{
    text-align:left;
    margin-left:0px;
    min-width:280px;
    max-width:320px;
    background-color:#f2f2f2;
    border-bottom:1pt solid #fff ;
    min-height:25px;
    color:#00c3ff;
    font-size:12px;
    font-weight:bold;
    padding-top:4px;
    font-family: Verdana;
    list-style-type:none;
    cursor:hand;
    float:left;
}
#mnu_item_alerts_icon
{
    float:left;
    background-image:url('../icons/alerts_btn.png');
    cursor:hand;
    margin-left:5px;
    min-width:40px;
    min-height:40px;
    max-width:41px;
    background-repeat:no-repeat;
}
#mnu_items_messages_icon
{
    float:left;
    background-image:url('css/icons/messaging_btn.png');
    cursor:hand;
    margin-left:5px;
    min-width:40px;
    min-height:40px;
    max-width:41px;
    background-repeat:no-repeat;
}
#mnu_items_rewards_icon
{
    float:left;
    background-image:url('css/icons/rewards_btn.png');
    cursor:hand;
    margin-left:5px;
    min-width:40px;
    min-height:40px;
    max-width:41px;
    background-repeat:no-repeat;
}
#mnu_items_starrate_icon
{
    float:left;
    background-image:url('css/icons/starrate_btn.png');
    cursor:hand;
    margin-left:5px;
    min-width:40px;
    min-height:40px;
    max-width:41px;
    background-repeat:no-repeat;
}
#mnu_items_starsafe_icon
{
    float:left;
    background-image:url('css/icons/starsafe_btn.png');
    cursor:hand;
    margin-left:5px;
    min-width:40px;
    min-height:40px;
    max-width:41px;
    background-repeat:no-repeat;
}

#mnu_items_starsocial_icon
{
    float:left;
    background-image:url('css/icons/starsocial.png');
    cursor:hand;
    margin-left:5px;
    min-width:40px;
    min-height:40px;
    max-width:41px;
    background-repeat:no-repeat;
}
#mnu_items_starsight_icon
{
    float:left;
    background-image:url('css/icons/starsight_btn.png');
    cursor:hand;
    margin-left:5px;
    min-width:40px;
    min-height:40px;
    max-width:41px;
    background-repeat:no-repeat;

}


