body {
 background-color:white;
 width:320px;
 font-family: Verdana, Geneva, sans-serif;
 
}
input
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color:#808080;
    font-size:13px;

}
h1
{
    color:#00C3FF;
    font-size:13px;
}

#pagebody
{
    width:100%;   
    overflow:hidden;
    height:100%;        
}

#menu
{
    position:absolute;
    float:left;
    top:0px;
    width:320px;
    left:7px;
    height:100%;    
    overflow-y:scroll;
    background-color:white;
    margin-top: 9px;
}

#menu ul
{
    padding:0px;
    margin:0;
    list-style:none;  
    float: left;  
    width: 260px;
    
}
#menu .menuitem
{
    color:#00C3FF;
    padding:15px;
    border-bottom:1pt solid #d7d7d7;
}

#top-nav
{
    background: #F5F6F7;
    border-bottom: 1px #E7E7E8 solid;
    padding: 10px;
    color: #808282;

}
    #top-nav .title
    {
       font-size: 20px;
    }
    #top-nav .logo
    {
        padding-top:5px;
    }
    #top-nav .drawer
    {
        float:right;
        left:10px;        
    }

.maincontainer{
  
    padding: 10px;
    
}


.left{
    
    float: left;
    
}

.right{
    
    float: right;
    
}

.logo{
    text-align: center;  
}

.button{    
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin: 10px auto;
}

.blue
{
    background: #3AC1F0;    
}

.darkblue
{
    background: #0A73B9;
}

.greybutton{    
    background: #ffffff;
    border-radius: 4px;
    border: 2px solid #E7E7E8;
    color: #3AC1F0;
    text-align: center;
    padding: 10px 0;
    width: 80%;
    margin: 10px auto;
}

.center{
    
    text-align: center;
    
    
}

input{
    border-radius: 4px;
    border: 2px solid #E7E7E8;    
    padding: 10px 10px;
    color: #808282;
    width: 100%;
    margin: 5px auto;
}


.selectable{
    cursor: pointer;
    
}