body {
 background-color:white;
 width:100%;
 font-family: Verdana, Geneva, sans-serif;
 margin: 0;
 overflow: hidden;
 
}

p
{
    
    font-size:  15px;    
    
}

input
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color:#808080;
    font-size:13px;

}
h1
{
    color:#00C3FF;
    font-size:13px;
}

#pagebody
{
    width:100%;   
    overflow:hidden;
         
}

#menu
{
    position:absolute;
    float:left;
    top:0px;
    width:100%;
   
    height:100%;    
    overflow-y:scroll;
    background-color:white;
   
    z-index: 9999999;
}

#menu ul
{
    padding:0px;
    margin:0;
    list-style:none;  
    float: left;
    width:80%;  
    
}
#menu .menuitem
{
    color:#00C3FF;
    padding:15px;
    border-bottom:1px solid #d7d7d7;
}

#top-nav
{
    background: #F5F6F7;
    border-bottom: 3px #E7E7E8 solid;
    padding: 10px;
    color: #808282;
    height: 13%;

}
    #top-nav .title
    {
       font-size: 20px;
    }
    #top-nav .logo
    {
        padding-top:5px;
    }
    #top-nav .drawer
    {
        float:right;
        left:10px;        
    }

.maincontainer{
  
    padding: 10px;
    
}


.left{
    
    float: left;
    
}

.right{
    
    float: right;
    
}

.logo{
    text-align: center;  
}

.button{    
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin: 10px auto;
}

.blue
{
    background: #3AC1F0;    
}

.darkblue
{
    background: #0A73B9;
}


.grey
{
    background: #F5F6F7;
}

.colorgreen
{
    
    color: #13CC2B;    
    
}

.colorred
{
    
    color: red;    
    
}

.red
{
    background: red;    

}

.greybutton{    
    background: #ffffff;
    border-radius: 4px;
    border: 2px solid #E7E7E8;
    color: #3AC1F0;
    text-align: center;
    padding: 10px 0;
    width: 80%;
    margin: 10px auto;
}

.center{
    
    text-align: center;
    
    
}

input{
    border-radius: 4px;
    border: 2px solid #E7E7E8;    
    padding: 10px 10px;
    color: #808282;
    width: 100%;
    margin: 5px auto;
}

textarea
{
    border-radius: 4px;
    border: 2px solid #E7E7E8;    
    padding: 10px 10px;
    color: #808282;
    width: 100%;
    margin: 5px auto;
    resize: none;    
    
}

.selectable{
    cursor: pointer;
    
}

.row
{
    border-bottom: 3px #E7E7E8 solid;
    padding: 10px;    
        
}

.row div
{
    float:left;        
}

.row div .profilepic
{
    width: 100%;
           
}

.colorgrey
{
    color: #808282;
}

.colorblue
{
    color: #3AC1F0;
}

.white
{
background: #ffffff;    
    
}

.profilemsgbutton
{
  background: url(images/message_btn_icon.png) no-repeat 50px 50px;

  padding: 30px 0 0 60px;  
}

.profilealertbutton
{
    background: url(images/alert_btn_icon.png) no-repeat 50px 50px;

     padding: 30px 0 0 60px; 
}

.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.colorwhite
{
    color: #ffffff;    
    
}



.submenu
{
    
    background: #F5F6F7;
    border-bottom: 3px #E7E7E8 solid;
    padding: 0 10px 0;
    height: 50px;
    
    
}

.submenu ul
{
        background: #F5F6F7;
    margin: 0;
    color: #3AC1F0;  
    list-style-type: none;
    
}

.submenu ul li
{
    float:left;
    list-style: none;
    margin: 0;
    padding: 10px;
     background: #F5F6F7;
    border-right: 2px #E7E7E8 solid;   
}



.submenu ul li.active
{
    background: #ffffff;
    color: #808282; 
    
}


.friendModal
{
    
     border: 0 !important;
      outline-color: transparent;
      width: 220px !important;
      padding: 0 !important;
}


.friendModal div
{

    background:  #404041;        
    text-align:center;
    border: 0 !important;
    color: #ffffff;
    
}


.friendModal div .top
{
    border: 1px solid #000000;
    padding: 10px;
    border-radius: none;
    float: left;
    width: 90px;
    height: 90px;
    position: relative;
    vertical-align: baseline;
    font-size: 13px;
    
}


.friendModal div .top .imgdiv
{
    width: 55px !important;
    height: 55px !important;
    display: block;
    margin: 0 auto 10px auto;
    
}

.friendModal .bottom
{
    margin-top: 10px;
    padding: 10px;
    
}




.ui-dialog-titlebar {
    display: none;
}

.ui-widget-overlay {
   background: url(images/ui-bg_flat_10_000000_40x100.png) repeat !important;
   opacity: .30 !important;
   /*filter: Alpha(Opacity=30) !important; */
}
/*
.ui-widget-overlay {
    
    opacity:0.7;
   
}*/

.ui-widget-overlay {
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
}


.ui-dialog
{
    
width:   220px !important;
padding: 0 !important;
top: 10px !important;
  
    
}


.bluegradientbg
{
    
  /* fallback */
  background-color: #1a82f7;
  background-repeat: repeat-x;
    
    
   /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0A77BC), to(#00ADEE)) !important;

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #0A77BC, #00ADEE) !important;

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #00ADEE, #0A77BC) !important;

  /* IE 10 */
  background: -ms-linear-gradient(top, #00ADEE, #0A77BC) !important;

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #00ADEE, #0A77BC) !important;   
    
  color: #ffffff;
  padding: 10px;
}

.slideBox {
margin-top:10px;
position:relative;
width:100%;
height:40px;
font-size:14px;
}

.slideBoxHead {
position:absolute;
width:64%;
left:0;
color:gray;
font-size:14px;
}

.slideBoxValue {
position:absolute;
width:50%;
right:0;
text-align:right;
color:#00C3FF;
}

.slider{
position: absolute;
top:25px;
left: 12%;
border:none!important;
background:#F5F6F7 !important;
height:.2em!important;
width: 70%;
height: 16px !important;
}

.slideminus
{
    position: absolute;
    width: 10%;
top:18px;
left: 0;
font-size: 20px;
text-align: center;
}

.slideplus
{
    position: absolute;
    width: 10%;
top:18px;
right: 0;
font-size: 20px;    
text-align: center; 
}


.ui-slider-handle 
{
    position: absolute;
    width:32px! important;
    height:32px! important;
    border:none!important;
    background:#0088B3!important;
    border-radius: 15px !important;
    /*-webkit-border-radius:15px !important;*/
    top: -5px !important;
    margin-left:-5px!important;
    color: #ffffff !important;
    text-align: center;
    text-decoration: none !important;
    font-size: 10px;
    line-height: 30px;
}




.ui-slider-range-min {
    background:#00C3FF !important;
    position: absolute;
}
