.deCarta-control-layer {	
	margin:8px;		
}
.deCarta-control-layer .button {
	float: none;
	cursor: pointer;
	margin: 2px;
}

.deCarta-control-layer .button.street {
	background : url("../../../images/mapitui/map_off.png") no-repeat;
	height: 35px !important;
	width: 35px !important;	
}

.deCarta-control-layer .button.satellite {
	background : url("../../../images/mapitui/satellite_off.png") no-repeat;
	height: 35px !important;
	width: 35px !important;	
}

.deCarta-control-layer .button.hybrid {
	background : url("../../../images/mapitui/hybrid_off.png") no-repeat;
	height: 35px !important;
	width: 67px !important;	
}


.deCarta-control-layer .button.street:hover {
	background : url("../../../images/mapitui/map_rollover.png") no-repeat;
	height: 35px !important;
	width: 35px !important;	
}

.deCarta-control-layer .button.satellite:hover {
	background : url("../../../images/mapitui/satellite_rollover.png") no-repeat;
	height: 35px !important;
	width: 35px !important;	
}

.deCarta-control-layer .button.hybrid:hover {
	background : url("../../../images/mapitui/hybrid_rollover.png") no-repeat;
	height: 35px !important;
	width: 67px !important;	
}

.deCarta-control-layer .button.street.selected {
	background : url("../../../images/mapitui/map_on.png") no-repeat;
	height: 35px !important;
	width: 35px !important;	
}

.deCarta-control-layer .button.satellite.selected {
	background : url("../../../images/mapitui/satellite_on.png") no-repeat;
	height: 35px !important;
	width: 35px !important;	
}

.deCarta-control-layer .button.hybrid.selected {
	background : url("../../../images/mapitui/hybrid_on.png") no-repeat;
	height: 35px !important;
	width: 67px !important;	
}